# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

NODE_ENV=""
NODE_VERSION="18.13.0"
SELF_HOSTED="true"
NEXT_PUBLIC_APP_NAME="NeuraCraft"

# MySQL Database
MYSQL_ROOT_PASSWORD="12345"
MYSQL_DATABASE="neuracraft"
# For Docker
# DATABASE_URL="mysql://root:12345@database:3306/neuracraft"

#Local Developemnt
DATABASE_URL="mysql://root:12345@localhost:3306/neuracraft"

NEXTAUTH_SECRET="12345"
# NEXTAUTH_URL="http://localhost"

# Local Development
NEXTAUTH_URL="http://localhost:3000"

# FIXME:
# Recommender Server for docker
# RECOMMENDER_URL="http://recommender-dev:8000"

# Local Development
RECOMMENDER_URL="http://127.0.0.1:8000"
RECOMMENDER_API_KEY="12345"
